body, ul{
    margin:0;
    padding: 0;
    font-family: arial;
}

ul{ list-style: none; }
a{ text-decoration: none; }

ul li{
    float:left;
    padding: 0 5px;
}

ul li a{
    color:black;
}

#headerContainer{
    width: 100%;
    background: #183B68;
}

#header, #errorNotifier{
    width: 800px;
    margin: auto;
    height: 40px;
}

#header a, #loginRegister{
    color: #F0E4E4;
}

#menu li{ 
    float: left;
    padding: 8px 20px;
    font-size: 18px;
}

.colorGrey{ color: #555; }
.size14{ font-size: 14px; }

form label{
    width: 140px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

form input[type="text"], input[type="password"]{
    width: 200px;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 19px;
    border-radius: 5px;
    padding: 5px;
}

form input[type="submit"]{
    margin: 10px 0 0 170px;
    font-size: 20px;
}

.displayLoginErrors{
    display: list;
}

#errorNotifier{
    background: #F3A6A6;
    margin: 10px auto;
    padding: 5px 0;
    height: auto;
    text-align: center;
    border: 1px solid rgb(218, 76, 76);
    border-radius: 10px;
}

#pageTitleContainer{
    font-size: 27px;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 10px;
}

.buttons, .contactCreateSubmit{
    width: 200px;
    height: 30px;
    line-height: 30px;
    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.buttons a{
    font-size: 21px;
    color: #000;
    display: block;
}

.titleButton{
    float: right;
    margin-top: -32px;
}

#displayContainer{
    width: 800px;
    height: 1000px;
    margin: auto;
}

#messages{
    width: 760px;
    background: #0ef;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 10px;
}

#closeMsg{
    float: right;
    margin-top: -17px;
    cursor: pointer;
}

.userCreateForm input[type='text'], .contactCreateSubmit, #userCountry{
    margin: 5px 10px;
}

#phonesTitle, #addressTitle, #emailsTitle{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#phonesContainer, #addressContainer, #emailsContainer{
    margin: 10px 0 0 18px;
}

#userDataContainer img{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 400px;
    top: 50px;
}

/*
    Index
*/
.userContainer {
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    margin-left: 10px;
}

.userContainer a{
    color: #000000;
}

#userDataContainer{
    width: 600px;
    min-height: 250px;
    height: auto;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.43);
    -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.43);
    box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.43);
}

#userNameContainer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 270px;
    position: absolute;
    left: 358px;
    top: 245px;
}

#userEmailContainer{
    font-size: 18px;
    color: #8474DB;
}
/*
    Create
*/
#userCountry{
    font-size: 18px;
}



/* Edit */

.contactCreateSubmit{
    display: block;
    float: left;
    height: 31px;
    line-height: 26px;
}

#cancelButton{
    float: left;
    margin: 10px 20px;
}

























